<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div>
        <a href="/api/login">Iniciar Sesión</a> o <a href="/api/registro">Registrarse</a>
    </div>
</body>
</html>