<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> hola usuario: </p>
    <p> <%= user.display_name %> </p>
    <a href="/api/logout" <p>Cerrar sesion</p> </a>
</body>
</html>