<!DOCTYPE html>
<html lang="es">
<head>
  <title>Perfil de Usuario</title>
</head>
<body>
  <h1>Perfil de Usuario</h1>
  <p>id: <%= user.id %></p>
  <p>Nombre: <%= user.display_name %></p>
  <p>Email: <%= user.email %></p>

  <p>Tipo de Autenticación: <%= authType %></p>
</body>
</html>